In [1]:
## How to fetch
## How to insert
## How to Drop

## Creating Connection

In [4]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [5]:
import mysql.connector

cnx = mysql.connector.connect(
    host="localhost",
    user='root',
    password='123456',
    database='unfoldds'
        )

cursor = cnx.cursor()
print(cursor)

CMySQLCursor: (Nothing executed yet)

## Fetching Data

In [6]:
query = ("select id, name1 from unfoldds.studenttable")

cursor.execute(query)

for (id, name1) in cursor:
    print(id, name1)
    
cursor.close()
cnx.close()

11 venkey
22 subbu

## Creating new table and Inserting Data

In [7]:
cnx = mysql.connector.connect(
    host="localhost",
    user='root',
    password='123456',
    database='unfoldds'
        )

cursor = cnx.cursor()
cursor.execute("CREATE TABLE unfoldds.mytable0919 (name VARCHAR(100), location VARCHAR(100))")

In [8]:
insertquery = "INSERT INTO unfoldds.mytable0919 (name, location) VALUES (%s, %s)"
value = ("Aman","Bangalore")
cursor.execute(insertquery, value)

In [9]:
## INSERTING MULTIBLE RECORDS IN A TABLE
multipleinsertquery = "INSERT INTO unfoldds.mytable0919 (name, location) VALUES (%s, %s)"
values = [("Aman","Bangalore"),
        ("Adam", "USA"),
         ("Sandeep","UK"),
         ("venkat","Hyderabad"),
         ('sam','Pune')]

cursor.executemany(multipleinsertquery, values)

In [10]:
#cursor = cnx.cursor()
cursor.execute("Select * from mytable0919")

In [11]:
## Fetch All the Data
cursor.fetchall()

[('Aman', 'Bangalore'),
 ('Aman', 'Bangalore'),
 ('Adam', 'USA'),
 ('Sandeep', 'UK'),
 ('venkat', 'Hyderabad'),
 ('sam', 'Pune')]

## Dropping the above created table

In [12]:
cursor.execute("Drop table mytable0919")